@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.sidebar {

  background-color: white;
   height: 100%;
   width: 35%;
   min-width: fit-content;
   /* max-width: 50%; */
   position: absolute;
   right: 0%;
   overflow: scroll;
   overflow-x: hidden;
   display: block;
   /* flex-direction: column; */
}



.sidebar-top {
  height: 130px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid rgb(204, 204, 204, 0.70)ck;
  box-shadow: 1px 0.2px  7px;

}

.sidebar-top > h2 {
  margin-right: auto;
  margin-left: 15px;
  font-family: Inter;
}


.recipe-toggle {
  width: 120px;
  font-family: Inter;
  font-weight: bold;
  height: 60px;
  margin-right: 15px;
  margin-left: 10px;
  border-radius: 5%;
}

.ingredients-toggle {
  width: 120px;
  font-family: Inter;
  font-weight: bold;
  height: 60px;
  margin-right: 15px;
  border-radius: 5%;
  
}

.filter-rows {
  display: flex;
  height: 80px;
  margin-left: 40px;
  margin-bottom: 30px;
  align-items: center;
}

.ingredient-label {
  margin-right: 10px;
  font-family: Inter;
}

.ingredient-input {
  margin-right: 10px;
}

.remove-ingredients {
  font-family: Inter;
  width: 80px;
  border-radius: 10%;

}

.add-ingredients-container {
display: flex;
flex-direction: column;

}

.add-ingredients {
  align-self: center;
  font-family: Inter;
  width: 90px;
  border-radius: 10%;
}

.sidebar-close-button {
  border: none;
  background-color: transparent;
}

.sidebar-close-img {
  width: 50%;
  margin-right: 10px;
  opacity: 0.3;
  
}



.sidebar-button-container {
  height: 100px;
 
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.sidebar-button-container > button  {
  width: 100px;
  height: 50px;
}



.sidebar-accordion {
  margin: 10px 0px;
}

.sidebar-accordion-header {
  color: antiquewhite;
  font-family: Inter;
  font-weight:300;
}

#subtitles-accordion {
  padding: 10px;
  border-bottom: 2px solid rgb(204, 204, 204, 0.70);

}

#sidebar-accordion-body{
  height: fit-content;
  font-family: Inter;
  display: flex;
  flex-direction: column;
}




#input-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 30px;
  margin-bottom: 50px;
  
}



#input-container > label  {
  margin-left: 15px;
  align-self: center;
  font-size: x-large;
}

.apply-filter-button {

  width: 130px;
  height: 80px;
  margin-top: 50px;
  background-color: #07689F; /* Change the color to your preferred button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  align-self: center;
}
