@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.sidebar {

  background-color: white;
   height: 100%;
   width: 35%;
   /* max-width: 50%; */
   position: absolute;
   right: 0%;
   overflow: scroll;
   display: block;
   z-index: 1;
   /* flex-direction: column; */
}

.sidebar-top {
  height: 130px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid rgb(204, 204, 204, 0.70)ck;
  box-shadow: 1px 0.2px  7px;

}

.sidebar-top > h2 {
  margin-right: auto;
  margin-left: 15px;
  font-family: Inter;
}

.sidebar-close-button {
  border: none;
  background-color: transparent;
}

.sidebar-close-img {
  width: 50%;
  margin-right: 10px;
  opacity: 0.3;
  
}



.sidebar-button-container {
  height: 100px;
  border-bottom: black solid;
 
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.sidebar-button-container > button  {
  width: 100px;
  height: 50px;
}

.sidebar-accordion {
  border-bottom: 1px solid black;
  
  margin: 10px 0px;
}

.sidebar-accordion-header {
  background-color: purple;
  color: antiquewhite;
  font-family: Inter;
  font-weight:300;
}

.sidebar-accordion-body{
  font-family: Inter;
}

.apply-filter-button {

  width: 200px;
  height: 100px;
  margin-top: 50px;
  background-color: #07689F; /* Change the color to your preferred button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
