/*navigation {*/
/*    background-color: #07689F;*/
/*    width: 100%;*/
/*    position: relative;*/
/*    !* height: 90px; *!*/
/*    !* width: 1450px;*/
/*    padding-top: 40px 0px;*/
/*    vertical-align: middle; *!*/
/*    !* position: fixed;*/
/*   *!*/
/*}*/
/*.navbar-container {*/
/*    max-width: 3000px;*/
/*    overflow-x: hidden;*/
/*}*/
/*.button{*/
/*    !* background-color: white;*/
/*      color: #07689F;*/
/*      font-size: 20px;*/
/*      padding: 10px 60px;*/
/*     float: right;*/
/*      border-radius: 5px;*/
/*      margin: 10px 0px;*/
/*      cursor: pointer; *!*/
/*}*/
/*.hyperlink {*/
/*    color: white;*/
/*    font-family: NewsReader;*/
/*    font-size: 24px;*/
/*    text-decoration: none;*/
/*    !* text-align: center; *!*/
/*}*/
/*.nerd-logo-removebg {*/
/*    height: 100px;*/
/*    !* padding-right: 5%; *!*/
/*    !* left: 0%; *!*/
/*    !* object-fit: cover; *!*/
/*    !* position: relative; *!*/
/*    !* top: 30px; *!*/
/*    !* align-items: center; *!*/
/*    width: auto;*/
/*    margin-bottom: 1%;*/
/*}*/
/*!* .navigation.itemsAligned {*/
/*    display: inline-block;*/
/*    width: 20%;*/
/*    padding-left: 3%;*/
/*    padding-right: 10%;*/
/*    cursor: pointer;*/
/*    border-left: 1px solid white;*/
/*    margin-right: 30px;*/
/*  } *!*/
/*ul{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    !* align-items: center; *!*/
/*    !* padding-left: 100%; *!*/
/*    !* margin-right: 10em; *!*/
/*    !* margin-top: 10%; *!*/
/*}*/
/*.itemsAligned li {*/
/*    margin-left: 20px;*/
/*    margin-right: 300px;*/
/*    list-style-type: none;*/
/*}*/
/*.alignedToLeft{*/
/*    list-style-type:none;*/
/*    margin-right: 225px;*/
/*}*/
/*.alignedInTheMiddle {*/
/*    list-style-type:none;*/
/*    margin-right: 225px;*/
/*    margin-left: 225px;*/
/*}*/
/*.alignedToRight {*/
/*    list-style-type:none;*/
/*    margin-left: 225px;*/
/*}*/


.navigation {
    background-color: #07689F;
    position: relative;
    display: flex;
    justify-content: flex-start;

}

.navbar-container {
    /*max-width: 1000px;*/
    margin: 0 auto;
    /*overflow-x: auto;*/
}

.hyperlink {
    color: white;
    font-family: NewsReader;
    font-size: 24px;
    text-decoration: none;
    justify-content: flex-start;
}

.nerd-logo-removebg {
    height: 100px;
    width: auto;
    margin-bottom: 1%;
}

.headerlist{
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

li {
    margin: 0 100px;
    list-style-type: none;

}


/* Responsive Styling */
@media screen and (max-width: 976px) {
    .navigation li {
        margin: 0 50px; /* Reduce spacing for smaller screens */

    }
}

@media screen and (max-width: 750px) {
    .navigation li {
        margin: 0 40px; /* Reduce spacing for smaller screens */

    }
}
@media screen and (max-width: 600px) {
    .navigation li {
        margin: 0 30px; /* Reduce spacing for smaller screens */

    }
}

@media screen and (max-width: 500px) {
    .navigation li {
        margin: 0 20px; /* Reduce spacing for smaller screens */

    }
}


@media screen and (max-width: 300px) {
    .navigation li {
        margin: 0 5px;


    }
}


