.favourite-container{

    /* margin-bottom: 200px; */
  
  
  }
  
  
  .header {
    padding: 10px 20px;
    display: flex;
    margin: auto;
    align-items: "center";
    max-width: 3000px;
    justify-content: "space-between";
  }
  
  .header.Title {
    color: black;
    font-size: 64px;
    font-family: Newsreader;
    padding-left: 2%;
    font-weight: 400;
    line-height: 120%;
    word-wrap: "break-word";
    justify-content: "space-between";
  
  }
  
  .favourite-title-container {
    color: black;
    height:120px;
    display: flex;
    align-items: left;
    padding: 30px;
    font-size: 64px;
    font-family: NewsReader;
    font-weight: 400;
    line-height: 120%;
    /* word-wrap: "break-word"; */
    /* justify-content: space-between; */
  
  }