.login-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../../Resources/BuffetPic.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.loginpage-container {
  margin-bottom: 100px;
}

.loginDetails-title {
  font-family: Inter;
  font-size: 48px;
  text-align: center;
  /* padding: 2%; */
  color: white;
}

.loginDetails {
    font-family: Inter;
    font-size: 32px;
    /* padding: 2%; */
    color: white;
    
}


.login-button {
    background-color: #07689F; /* Change the color to your preferred button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    /* margin-left: px; */
    margin-top: 8%;
    cursor: pointer;
    font-size: 24px;
  }
  
  /* Hover effect for the button */
.login-button:hover {
    background-color: #0056b3; /* Change the hover color */
  }
  .credential-container{
    /* position: absolute; */
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 590px;
    width: 500px;
    margin-top: 8%;
    margin-bottom: 8%;

    background-color: rgba(31, 31, 31, 0.8);
    border-radius: 5%;
    box-shadow: 1px 1px 10px 0px;
    /* justify-content: center; */
   
  }
  .credential-box{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 8%;
    margin-left: 50px;
  }

  .credential-input-boxes {
    height: 50px;
    /* margin-left: 10px; */
    /* padding-top: 3%; */
    width: 400px;
    border-radius: 10px;

  }
.password-container-change{
  padding-left: 10%;
}

.account-signup {
  color: white;
  padding-top: 5%;
  font-size: 24px;
}

.login-output-message {
  color: white;
  margin-top: 2%;
}
