.star{
    width: 30px;
    height: 30px;
}

.star-container{
    font-size: 26px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* padding: 20px; */
    /* display: inline-block; */
    /* border: solid black; */
    
}

/* .font{
    float: right;
    position: relative;
    bottom: 2px;
    padding-left: 5px;
} */