
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
.heart-btn{
    /* position: absolute; */
    /* top: 91%;
    left: 88%; */
    /* transform: translate(-50%,-50%); */
}

.heart{
    position: absolute;
    background: url("img.png") no-repeat;
    background-position: left;
    background-size: 2900%;
    height: 100px;
    width: 100px;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%,-50%);

}
.content{
    padding: 13px 16px;
    display: flex;
    border: 1px solid rgb(255, 255, 255);

    border-radius: 60%;
    cursor: pointer;

}

.heart-btn:hover .content{

    border: 3px solid rgb(255, 255, 255);
}


.heart.heart-active{
    animation: animate .8s steps(28) 1;
    background-position: right;
}
@keyframes animate {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
