.footer {
    background-color: #07689f;
    height: 100px;
    position: absolute;
    width: 100%;
    bottom: 0;


}

.box {
    margin-top: 2%;
    background-color: #07689f;
    height:90px;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    }

.information-container {
    color: white;
    font-family: Inter;
    font-size: 24px;
}

.direction-container{
    color: white;
    font-family: Inter;
    font-size: 24px;
}

.buttonStyling{
    margin: 2%;
    color: #07689f;
    font-size: 20px;
    padding: 10px 60px;
    position: flex;
    bottom: 0;
    border-radius: 5px;
    /* margin-top: 30px; */
}