.footer {
    background-color: #07689f;
    height: 250px;
    /* position: relative; */
    width: 100%;
    bottom: 0;
    /* justify-content: center; */
    /* display: flex; */
    margin-top: auto;


}



.information-container {
    color: white;
    font-family: Inter;
    font-size: 24px;
    /* align-items: left; */
    text-align: left;
    margin-right: 15%;
    display: inline-block;
    align-items: center;
}

.direction-container{
    color: white;
    font-family: Inter;
    font-size: 24px;
    text-align: left;
    display: inline-block;
    margin-left: 15%;
    margin-top: 2%;
}

/* .buttonStyling{
    margin: 2%;
    color: #07689f;
    font-size: 20px;
    padding: 10px 60px;
    position: flex;
    bottom: 0;
    border-radius: 5px;
    margin-top: 30px;
} */