.label-edits {
    font-size: 24px;
    font-family: Inter;
    color: black;
}

.Divider {
    width: auto;
    box-shadow: 0px 4px 4px rgba (0, 0, 0, 0.25);
    border-top: 2px;
    border-color: lightgrey;
    border-style: solid;
    margin-bottom: 3%;
}

/* Search button styling */
.filterButton  {
    background-color: #07689F;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left:10px 5px;
    cursor: pointer;
}

/* Hover effect for the button */
.filterButton:hover {
    background-color: #0b5e8f;
    /* Change the hover color */
}
.filter-container {
    padding: 2%;
}

.filter-box{
    border-radius: 5%;
}