
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.recipecard-page-container {
    margin-bottom: 200px;
    position: relative;
}

.header {
    /* padding: 10px 20px; */
    display: flex;
    justify-content: space-between;
}

.header.recipelist-container.Title {
    color: black;
    font-size: 64px;
    font-family: Newsreader;
    padding-left: 2%;
    font-weight: 400;
    line-height: 120%;
    word-wrap: "break-word";
    justify-content: space-between;

}
.recipelist-container {
    color: black;
    height:120px;
    display: flex;
    align-items: left;
    padding: 30px;
    font-size: 64px;
    font-family: NewsReader;
    font-weight: 400;
    line-height: 120%;
    /* word-wrap: "break-word"; */
    /* justify-content: space-between; */
  
  }

  .filter-button {
     background-color: #07689F; /* Change the color to your preferred button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;

  }
/* 
  .header {
    position: relative;
    z-index: -1;
  } */

.header.search-container {
    margin: 15px;
    display: flex;
    border-radius: 5px;
    padding: 5px;


}

.wrapper.search-container {
    margin-top: 50%;
}

/* Basic styling for the search bar */
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  /* Input field styling */
  .search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 200px; /* Adjust the width as needed */
  }
  
  /* Search button styling */
  .search-bar button {
    background-color: #07689F; /* Change the color to your preferred button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  /* Hover effect for the button */
  .search-bar button:hover {
    background-color: #0056b3; /* Change the hover color */
  }



.wrapper {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;




}

.card {
    overflow: hidden;
    box-shadow: 0 2px 20px rgb(204, 204, 204, 0.80);
    border-radius: 0.2rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    border-radius: 5%;
    background-color:  rgb(204, 204, 204, 0.80);
    z-index: -1;


}


.card__image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card__title {
    padding: 1rem;
}

.card__description {
    padding: 0 1rem;
}

.Divider {
    width: auto;
    box-shadow: 0px 4px 4px rgba (0, 0, 0, 0.25);
    border-top: 2px;
    border-color: lightgrey;
    border-style: solid;
    margin-bottom: 1%;
}

.card__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #07689F;
    background: transparent;
    color: #07689F;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover {
    transform: scale(1.02);
}

.card:hover .card__btn {
    background: #07689F;
    color: white;
}


.buttonEditing {
    color: #07689f;
    font-size: 20px;
    padding: 10px 40px;
    position: flex;
    bottom: 0;
    border-radius: 5px;
    margin-top: 30px;
}



.search-error-container {
    height: 300px;
    margin-top: 40px;

}