@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


.recipedetails-page-container {
    margin-bottom: 200px;
}

.header {
    padding: 10px 20px;
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 3000px;
    justify-content: space-between;
}

.recipe-title-container {
    color: black;
    height:120px;
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 64px;
    font-family: Inter;
    font-weight: 400;
    line-height: 120%;
    word-wrap: "break-word";
    justify-content: space-between;

}

#recipe-title {
    display: flex;
    padding: 5px;
    align-items: center;
}

/* .subtitles {
    margin-bottom: 15px;
    font-family: Inter, sans-serif;
    font-weight: bold;
} */

.subtitles-accordion {
    font-weight: 500;
    display: inline-block;
}

#subtitles-accordion {
    font-weight: 700;
    text-align: center;
}

.Divider {
    width: auto;
    /* height: 0; */
    box-shadow: 0px 4px 4px rgba (0,0,0,0.25);
    border: 2px;
    border-color: lightgrey;
    border-style: solid;
    /* height: 20px; */
}

.details{
    /* margin:10px; */

    /* list-style-type: none; */
    /* vertical-align: middle; */
    background-color: rgba(7, 104, 159, 0.25);
    background: linear-gradient(90deg,rgba(7, 104, 159, 0.25) 50%, rgba(7, 104, 159, 0.35) 100%);
    box-shadow: 0px 1px 5px ;

    display: block;
    width: 400px;
    margin-top: 30px;
    padding: 12px;
    padding-bottom: 25px;
    margin-bottom: 40px;
    border-radius: 3%;
    /* border: solid black; */

}

.details li {
    list-style-type: none;
}

.timer-listitem {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 1px;
}

#timer{
    height: 40px;
    margin-right: 10px;
}
/* 
.boxes{
    margin-top: 1%;

} */

.recipe-details{
    padding: 40px;
    max-width: 1440px;
    margin: auto;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    /* padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px; */

}

.details_image{
    width: auto;
    height: 600px;
    float:right;
    border-radius: 5%;


}

.recipe-ingredients{
    display: block;
    margin:15px;
    margin-bottom: 40px;
}


.recipe-instructions{
    display: block;
    margin:15px;
}

.details-accordion {
    background-color: #eee;
    margin-top: 35px;
    color: #444;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-family: 'Inter', sans-serif;
    transition: 0.4s;
}


.accordion-body {
    height: 230px;
}

.like-button-container-recipe-info {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5px;
    
}