

.footer {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #07689f;
    height:100px;
    width:100%;
    }


.footerText {
    color: white;
    font-family: Inter;
}

.buttonStyling{
    margin: 2%;
    color: #07689f;
    font-size: 20px;
    padding: 10px 60px;
    position: flex;
    bottom: 0;
    border-radius: 5px;
    /* margin-top: 30px; */
}

/* Rectangle 2 */


