.navigation {

    background-color: #07689f;
    /* height: 90px; */
    /* position: relative; */
    /* width: 1450px;
    padding-top: 40px 0px;
    vertical-align: middle; */

}


.button{
/* background-color: white;
  color: #07689f;
  font-size: 20px;
  padding: 10px 60px;
 float: right; 
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer; */

}

.hyperlink {
    color: white;
    font-family: NewsReader;
    font-size: 24px;
    text-decoration: none;
}

.nerd-logo-removebg {
    height: 90px;
    /* left: 0%; */
    /* object-fit: cover; */
    /* position: relative; */
    /* top: 30px; */
    /* align-items: center; */
    width: auto; 
}

.navigation.row {
    /* height:90px; */
    /* vertical-align: middle; */
    display: flex;
    width: 50%;
    text-align: center;
    padding: 20px 5px;

  }
  
 navigation.column {
    /* float: center; */
    text-align: center;
    width:50%;
    /* padding: 50px; */
    /* border-color: black;
    border-width: 4px; */
    
  }
.search-container {
    margin: 15px;
}