.navigation {

    background-color: #07689f;
    /* width: 100vw; */

    /* height: 90px; */
    /* position: relative; */
    /* width: 1450px;
    padding-top: 40px 0px;
    vertical-align: middle; */
}


.button{
/* background-color: white;
  color: #07689f;
  font-size: 20px;
  padding: 10px 60px;
 float: right; 
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer; */

}

.hyperlink {
    color: white;
    font-family: NewsReader;
    font-size: 24px;
    text-decoration: none;
}

.nerd-logo-removebg {
    height: 90px;
    /* left: 0%; */
    /* object-fit: cover; */
    /* position: relative; */
    /* top: 30px; */
    /* align-items: center; */
    width: auto; 
}

/* .navigation.itemsAligned {
    display: inline-block;
    width: 20%;
    padding-left: 3%;
    padding-right: 10%;
    cursor: pointer;
    border-left: 1px solid white;
    margin-right: 30px;


  } */
  
 navigation.column {
    /* float: center; */
    text-align: center;
    width:100%;
    /* padding: 50px; */
    /* border-color: black;
    border-width: 4px; */
    
  }

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 100%; */
    /* margin-right: 10em; */
  }
  ul li {
    margin-left: 8.5%;
    margin-right: 11%;
    list-style-type: none;
  }

.search-container {
    margin: 15px;
}