.header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.header.Title {
    color: black;
    font-size: 64px;
    font-family: Newsreader;
    padding-left: 2%;
    font-weight: 400;
    line-height: 120%;
    word-wrap: "break-word";
    justify-content: space-between;

}

.subTitles {
    padding-left: 6%;
}

.Divider {
    width: auto;
    /* height: 0; */
    box-shadow: 0px 4px 4px rgba (0,0,0,0.25);
    border: 2px;
    border-color: lightgrey;
    border-style: solid;
    /* height: 20px; */
}

.properties{
    /* margin:10px;
    list-style-type: none; */
    /* vertical-align: middle; */
    display: block;
}

.timer{
    width: 18px;
    height: 18px;
    float: left;
}

.boxes{
    margin-top: 1%;

}

.recipe-details{
    max-width: 1440px;
    margin: auto;
    text-align: left;
    font-family: 'Inter';
    font-size: 24px;
    /* padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px; */
    
}

.details_image{
    width: auto;
    height: 500px;
    float:right;
    border-radius: 5%;


}

.recipe-ingredients{
    display: block;
    margin:15px;
}

.recipe-instructions{
    display: block;
    margin:15px;
}
