.header {
padding: 10px 20px;
display: flex;
justify-content: space-between;
}
.header.Title{
    color: black;
    font-size: 64px;
    font-family: Newsreader;
    padding-left: 2%;
    font-weight: 400;
    line-height: 120%; 
    word-wrap: "break-word";
    justify-content: space-between;

}
.header.search-container {
    margin: 15px;
    display: flex;
    border-radius: 5px;
    padding: 5px;


}
.Divider {
    width: auto;
    /* height: 0; */
    box-shadow: 0px 4px 4px rgba (0,0,0,0.25);
    border: 2px;
    border-color: lightgrey;
    border-style: solid;
    /* height: 20px; */
}

.gif {
    /* padding: 5%; */
    height: 450px;
    width:400px;
    border-radius: 5%;
    float: center;
    /* padding-left: 5%; */

}

  .rowWelcomePage {
    display: flex;
  }
  
  .columnWelcomePage {
    float: left;
    width: 35%;
    padding: 50px;
  }


  .TextBody {
    color: 'black';
    font-size: 18px;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 400;
    margin-top: 50;
    word-wrap: 'break-word'
}

.TextContainer {
    width: 55%;
    display: flex;
    padding-top: 2%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
